<!-- your html code here -->
<div class="container d-flex align-items-center>

        <form class=" row g-2">

    <h1>Contact</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="col-lg-4 col-md-3 p-2"><strong>You E-mail</strong></div>

    <div class="col-lg-4 col-md-6 p-2">
        <label for="validationDefault01" class="form-label"></label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Your email" required>
    </div>

    <div class="col-lg-4 col-md-3 p-2"><strong>You Message</strong></div>

    <div class="col-lg-8 col-md-6 p-2">
        <label for="validationDefault02" class="form-label"></label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Please enter your message here..."
            required>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>

    </form>

</div>
<div class="d-flex align-items-start flex-rox;">
    <div class="mb-auto p-2 text-danger">Copyright © Your Website 2014</div>
</div>